/abudent.class
/bmi.class
/countdown.class
/dayweek.class
/divisibleby5.class
/fizzbuzz.class
/highestno.class
/leepyeara.class
/multiple.class
/mutiplication.class
/positivenegative.class
/power.class
/prime.class
/sum.class
